<div class= "container">
  
  <h1>メンバーズ一覧</h1>
  
  <table class="table">
    
    <thead>
      <tr>
        <th>ユーザーID</th>
        <th>ユーザーネーム</th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
    <tbody>
      <tr>
          <td>
            <%= link_to admin_user_path(user.id) do %>
            <%= user.id %>
            <% end %>
          </td>
          <td><%= user.user_name %></td>
      </tr>
    </tbody>
    <% end %>
  </table>

</div>
